body {
    overflow-x: hidden;
}

html, body {
    padding: 0;
    margin: 0;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 100px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.column {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.column::-webkit-scrollbar {
    display: none;
}

.image {
    width: 100%;
    max-width: 100px;
    height: auto;
}

.mainHeader {
    text-align: center;
}