* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #97F0FF;
}

a {
    color: #000;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #97F0FF;
    font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 10vh;
    text-align: center;
}

.columns {
    display: flex;
    overflow: hidden;
    height: 90vh;
    position: relative;
    width: 100%;
}

.column {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    width: 33.33vw;
}

.column::-webkit-scrollbar {
    display: none;
}

.feedName {
    position: fixed;
    background-color: #97F0FF;
    top: 16vh;
}

@media only screen and (max-width: 768px) {
    .columns {
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scroll-snap-points-x: repeat(300px);
        scroll-snap-type: mandatory;
    }
    .column {
        flex-shrink: 0;
        width: 100vw;
    }
}
